<h4><%= @city%> edit form</h4>
<form class="" action="/" method="post">
  <input type="hidden" name="_method" value="patch">

    <div class="input-group">
      <span class="input-group-addon">Train</span>
      <input type="hidden" name="old_city" value="<%= @city%>">
      <input type="hidden" name="old_name" value="<%= @train %>">
      <input id="msg" type="text" class="form-control" name="train" placeholder="Enter new Train">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Time</span>
      <input id="msg" type="text" class="form-control" name="time" placeholder="Enter new time">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Edit</button>
</form>
