<div id="logout">
  <h4><%= @currentuser%>  <a href="/logout/<%= @currentuser%> ">Logout</a></h4>
</div>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
</ul>
<button type="button" class="btn"><a href="/train_list">Train Info</a></button>
<button type="button" class="btn"><a href="/city_list">City Info</a></button>
<button type="button" class="btn"><a href="/city_list">Ticket Booking</a></button>
