<div class="well well-lg">
  <form name="myForm1" class="login_form " action="/"
onsubmit="return validateLoginForm()" method="post">
    <h4>LogIn Form</h4>
    <% if @error %>
      <div class="alert alert-danger">
        <strong><%=@error%></strong>
      </div>
    <%end%>
    <input type="hidden" name="data" value="login">
    <input type="text" class="form-control login_user" name="user" placeholder="User Name">
    <br>
    <input type="password" class="form-control login_password" name="password" placeholder="Password">
    <br>
    <button type="submit" class="btn btn-success">LogIn</button>
    <br>
    <hr>
    <p>New user?   <a href="#" class="new_user"><b>SignUp</b></a></p>
  </form>
  <form name="myForm" class="signup_form hide" action="/"
onsubmit="return validateForm()" method="post">
    <h4>SignUp Form</h4>
    <div class="alert alert-danger">
      <strong><%=@error%></strong>
    </div>
    <input type="hidden" name="data" value="signup">
    <input type="text" class="form-control new_user_name" name="user" placeholder="User Name">
    <br>
    <input type="password" class="form-control signup_password" name="password" placeholder="Password">
    <br>
    <input type="password" class="form-control confirm_password" name="confirm_password" placeholder="Confirm Password">
    <br>
    <button type="submit" class="btn btn-success">SignUp</button>
    <br>
    <hr>
    <p>Already have account?   <a href="#" class="new_user"><b>LogIn</b></a></p>
  </form>
</div>
