<div class="well well-lg">
  <form class="login_form" method="post" action="/">
    <h4>LogIn Form</h4>
    <input type="hidden" name="data" value="login">
    <input type="text" class="form-control" name="usr" placeholder="User Name">
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <br>
    <button type="submit" class="btn btn-success">LogIn</button>
    <br>
    <hr>
    <p>New user?   <a href="#" class="new_user"><b>SignUp</b></a></p>
  </form>
  <form class="signup_form hide" method="post" action="/">
    <h4>SignUp Form</h4>
    <input type="hidden" name="data" value="sinup">
    <input type="text" class="form-control" name="usr" placeholder="User Name">
    <br>
    <input type="text" class="form-control" name="password" placeholder="Password">
    <br>
    <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password">
    <br>
    <button type="submit" class="btn btn-success">SignUp</button>
    <br>
    <hr>
    <p>Already have account?   <a href="#" class="new_user"><b>LogIn</b></a></p>
  </form>
</div>
