<a href="/">Home</a>
<h4>List of Trains</h4>
<% if @train_name_lists.length > 0 %>
  <ul>
    <% @train_name_lists.each do |name| %>
      <li><a href="/train_info/<%= name %>"><%= name %></a></li>
    <% end  %>
  </ul>

<% else %>
  <p>Sorry no list available</p>
<% end %>
